<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
<div hidden id="data">
  {{ tstockValue }}
</div>

<div hidden id="data1">
  {{ testimatedProfit }}
</div>

<div hidden id="data2">
  {{ tactualProfit }}
</div>
<div hidden id="labels">
  {{ label }}
</div>

<canvas id="profitChart" class="mb-4"></canvas>
<script>
  var data = document
    .getElementById('data')
    .innerText.trim()
    .split(',');
  var data1 = document
    .getElementById('data1')
    .innerText.trim()
    .split(',');
  var data2 = document
    .getElementById('data2')
    .innerText.trim()
    .split(',');

  var labels = document
    .getElementById('labels')
    .innerText.trim()
    .split(',');
  var chart = document.getElementById('profitChart').getContext('2d');
  var lineChart = new Chart(chart, {
    // The type of chart we want to create
    type: 'line',
    // The data for our dataset
    data: {
      labels: labels,
      datasets: [
        {
          label: 'Estimated Profit',
          borderColor: 'rgb(25,150,155)',
          data: data1,
          borderWidth: 3
        },
        {
          label: 'Stocks',
          borderColor: 'rgb(100,200,00)',
          data: data,
          borderWidth: 3
        },
        {
          label: 'Actual Profit',
          borderColor: 'rgb(20,0, 100)',
          data: data2,
          borderWidth: 3
        }
      ]
    },

    // Configuration options go here
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true
            },
            scaleLabel:{
              display:true,
              labelString:'Amount in NRs'
            }
          }
        ],
        xAxes: [{
            scaleLabel:{
              display:true,
              labelString:'Date'
            }
          }
        ]
      },
      
      tooltips: {
        mode: 'nearest'
      },
      hover: {
        mode: 'nearest',
        intersect: true
      }
    }
  });
</script>
