<ul class="navigation mt-4 ">
    <li><a href="/home">Home</a></li>
    <li><a href="accounts">Accounts</a></li>
    <li><a href="stocks">Stock</a></li>
    <li><a href="party">Party</a></li>
    <li><a href="help">Help</a></li>
    <li><a href="aboutus">About Us</a></li>
    <li><a href="/user/logout">Logout</a></li>

</ul>
<img class="image" src={{src}} alt="Upload you photo">
<h5 class="text-right mb-4">
    {{admin}}
</h5>
<footer class=" foot"> &copy;2020 Developed By Neo Avyudaya </footer>