
body{
	margin: 0;
	padding: 0;
	font-family: fantasy;
	background: url(joker.jpg) no-repeat;
	background-size: cover;	
}
.login-box{
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
}
.login-box h1{
	float: left;
	font-size: 40px;  
	border-bottom: 6px solid #ef0707;
	margin-bottom: 50px;
	padding: 13px 0
}