{{>headers}}

<div class="bg-light">
  <div class="container ">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">The Business Analyst</h1>
        <p class="lead text mb-0"> A place to analize your Business </p>
        <p class="lead text-muted"> <a href="home" class="text">
            <u>Neo Avyudaya</u></a>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<section id="team" class="pb-5 white-section">
  <div class="container">
    <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="Images/aboutUs/Nischal.jpg" alt="card image"></p>
                  <h4 class="card-title">Nischal Bhandari</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Backend Developer</h6>
                  <p class="card-text">.....................</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Nischal Bhandari</h4>
                  <p class="card-text">Nischal is very hardworking Developer and he has almost
                    done everything he can for this project. Doing project in Ku is one of his
                    wonderful experience</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="Images/aboutUs/joshi.jpg" alt="card image"></p>
                  <h4 class="card-title">Bishal joshi</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Maintained all the reports</h6>
                  <p class="card-text">.....................</p>

                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Bishal joshi</h4>
                  <p class="card-text">He has worked on the basic report writing and asisited the Developer team by
                    Providing very useful information</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="Images/aboutUs/nabin.jpg" alt="card image"></p>
                  <h4 class="card-title">Nabin</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Frontend Developer</h6>
                  <p class="card-text">.....................</p>

                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Nabin Ghimire</h4>
                  <p class="card-text">
                    He has worked on the frontend and asisited the Developer team by
                    Providing very stylish frontend and other help whenever needed. </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="Images/aboutUs/ankiti.jpg" alt="card image"></p>
                  <h4 class="card-title">Ankit khatiwada</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Database Developer


                  </h6>
                  <p class="card-text">...................</p>

                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Ankit khatiwada</h4>
                  <p class="card-text ">
                    He has worked on backend and he has mainly focused on database and organization of data.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Significance</h2>
        <p class="font-italic text-muted mb-4">Our website generally focuses on comparing the profit and loss occured
          during a time</p><a href="help" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img
          src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Features</h2>
        <p class="font-italic text-muted mb-4"> Apart from the above features our Website also provide a platform for
          all the people who are
          thinking to start a business comparing various stocks and their profit</p>

      </div>
    </div>
  </div>
</div>

<style>
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  /* Our team section */
  #team {
    padding: 60px 0;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
  }

  .btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
  }

  section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  #team .card {
    border: none;
    background: #eee;
  }

  .image-flip:hover .backside,
  .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: 0.25rem;
  }

  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }

  .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
  }

  .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }

  .frontside,
  .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
  }

  .frontside .card,
  .backside .card {
    min-height: 312px;
  }

  .backside .card a {
    font-size: 18px;
    color: #007b5e !important;
  }

  .frontside .card .card-title,
  .backside .card .card-title {
    color: #007b5e !important;
  }

  .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
</style>


<script>
  function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("mySearch");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myMenu");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>