<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="shortcut icon" type="text/css" href="../images/smiley.jpg">
	<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
	<header>
		<h1 class="heading">Your Business Analyst</h1>
		<h1 class="company-name">Company Name</h1>
	</header>
	<nav>
	<ul class="navigation">
		<li><a href="home.html">Home</a></li>
		<li><a href="acounts.html">Accounts</a></li>
		<li><a href="stock.html">Stock</a></li>
		<li><a href="party.html">Party</a></li>
		<li><a href="help.html">Help</a></li>
		<li><a href="aboutus.html">About Us</a></li>
	</ul>
		
	</nav>
	

	<main>
		
				
			
		
	</main>
	<footer>
		<p>© 2020</p>
		<p>Designed by NeoAvyudaya</p>
	</footer>
</body>
</html>
