{{>headers}}


Accounts Details till {{accesstime}}
</h4>
<form position="fixed" class="form-inline">
    <div>
        <table width="400px" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Accounts Recivable</th>
                    <th>Pan No.</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table width="400px" class="table table-striped table-bordered ml-1">
            <thead>
                <tr>
                    <th>Accounts Payable</th>
                    <th>Pan No.</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </tbody>
        </table>
    </div>
</form>
{{>pieChart}}