{{>headers}}

<h1 class="text-center mb-4">
    {{title}}
</h1>

<div><button class="btn  btn-light "> <a href="recieveable">Recieveable</a> </button>
    <button class="btn btn-light "> <a href="payable">Payable</a></button></div>
<h4>
    Accounts Details till {{accesstime}}
</h4>
<form class="form-inline">
    <div>
        <table width="450px" border="5px">
            <thead>
                <tr>
                    <th>Accounts Recivable</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table width="450px" border="5px">
            <thead>
                <tr>
                    <th>Accounts Payable</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> </th>
                </tr>
            </tbody>
        </table>
    </div>