{{>headers}}

<form action="/party/addclient" method="POST" class=" ab-4">
    <div class=" form-group">
        <label for="Name">Clients Name</label>
        <input type="text" name="clientName" placeholder="Enter Clients Model Name" class="form-control">
    </div>
    <div class="form-group">
        <label for="Amount">Amount to be received</label>
        <input type="text" name="amountRecivable" placeholder="Enter amount to be received" class="form-control">
    </div>
    <div class=" form-group">
        <label for="contact">Contact Number</label>
        <input type="text" name="contact" placeholder="Enter Clients contact number" class="form-control">
    </div>
    <div class="form-group">
        <label for="address"> Client'sAddress</label>
        <input type="text" name="address" placeholder="Enter Client's Address" class="form-control">
    </div>
    <div class="form-group">
        <label for="pannumber">Client's Pan No.</label>
        <input type="text" name="panNumber" placeholder="Enter Client's Pan Number" class="form-control">
    </div>
    <input type="submit" value="Add Clients" class="btn btn-primary btn-block mb-4">
</form>