{{>headers}}
<div id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="container-fluid text-center bg-info mb-5 ">

        <h1>Your Business Analyst</h1>
        <h4>A place to analyse your Business</h4>

    </div>

</div>
<!-- google trnaslate-->
<div id="google_translate_element" class=" text-right"></div>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
</script>

<script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- how website work section -->
<div class="header">
    <h2 class="text-center bg-warning "> How our Website Work</h2>
    <div class=" ml-2">
        <h5 class=" text-center text-justify"> Firstly, the user (businessperson) must register to our
            website then only
            he/she is
            able to use it. After registration the user can login to our system and can enter the data of suppliers
            and
            the clients. After that only the user can add and remove stocks from his inventory. Based on the data
            provided by the user our system gives the graph of expected and the actual profit along with the stock
            remaining in the inventory. </h2>
            <hr>
            <h3 class="text-left ml-lg-auto"> Our page Contains following Links</h3>
            <hr>
            <table>
                <li>
                    <a href="home">Home page</a>

                </li>
                <li>
                    <a href="accounts">Accounts</a>
                </li>
                <li>
                    <a href="stocks">Stocks</a>
                </li>
                <li>
                    <a href="party"> Party</a>
                </li>
                <li>
                    <a href="transhistory">Transaction Input</a>
                </li>
                <li>
                    <a href="help">Help section</a>
                </li>
                <li>
                    <a href="aboutu">About Us</a>
                </li>
                <li>
                    <a href="/user/login">log Out</a>
                </li>
            </table>

    </div>
    <hr>
    <!-- Container (Contact Section) -->
    <hr>
    <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back within 24 hours.</p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span> Dhulikhel,Nepal
                </p>
                <p><span class="glyphicon glyphicon-phone"></span> 9845083292</p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span>
                    mybusineesanalyst2020@gamil.com
                </p>
            </div>
            <div class="col-sm-7 slideanim">
                <form action="/help" method="POST" class=" ab-4">

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email"
                                required />
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                        rows="5"></textarea><br />
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input type="submit" value="Send" id="add" class="btn btn-primary btn-block mb-4">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Image of location/map -->
    <!-- <img src="../images/map.png" class="w3-image w3-greyscale-min" style="width:100%" /> -->
    <!-- This is Map -->
    <section id="location">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="100%" height="450px" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=Kathmandu%20University&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <style>
                .mapouter {
                    position: static;
                    text-align: right;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                }
            </style>
        </div>
    </section>







    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on("click", function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $("html, body").animate(
                        {
                            scrollTop: $(hash).offset().top
                        },
                        900,
                        function () {
                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        }
                    );
                } // End if
            });

            $(window).scroll(function () {
                $(".slideanim").each(function () {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });
        });
    </script>



    <style>
        h2 {
            font-size: 24px;
            text-transform: uppercase;
            color: #303030;
            font-weight: 600;
            margin-bottom: 30px;
        }

        h4 {
            font-size: 19px;
            line-height: 1.375em;
            color: #303030;
            font-weight: 400;
            margin-bottom: 30px;
        }









        footer .glyphicon {
            font-size: 20px;
            margin-bottom: 20px;
            color: #f4511e;
        }

        .slideanim {
            visibility: hidden;
        }

        .slide {
            animation-name: slide;
            -webkit-animation-name: slide;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            visibility: visible;
        }
    </style>