{{>headers}}

<h2 class="text text-center mb-4 ">Daily Actions</h2>
<form action="/stocks/updateQuantity" method="POST" class=" bes ab-4">
<h4 class="text-center bg-success">Stock Sold</h4>
  <div class=" form-group ">
    <label for="Modelno">Model No.</label>
    <input type="text" name="Modelno" placeholder="Enter item's modelno" class="form-control" />
  </div>
  <div class="form-group">
    <label for="Quantity">Quantity</label>
    <input type="text" name="Quantity" placeholder="Enter item's quantity" class="form-control" />
  </div>
  <div class="form-group">
    <label for="sellingprice">Selling price</label>
    <input type="text" name="Sellingprice" placeholder="Enter item's sellingprice" class="form-control" />
  </div>
  <div class="form-group">
    <label for="buyer">Buyer's Pan No.</label>
    <input type="text" name="buyerPannumber" placeholder="Enter Buyer's Pan Number" class="form-control" />
  </div>

  <input type="submit" value="Sold Stock" class="btn btn-danger btn-block mb-4" />
</form>

<form action="/party/paymentMade" method="POST" class="bes ab-4">
  <h4 class="text-center bg-success">Payment Made</h4>
  <div class=" form-group">
    <label for="Supplier">Supplier Name</label>
    <input type="text" name="supplierName" placeholder="Enter Supplier Name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="Amount">Amount</label>
    <input type="text" name="sAmount" placeholder="Enter Amount Paid" class="form-control" />
  </div>

  <div class="form-group">
    <label for="buyer">Supplier's Pan No.</label>
    <input type="text" name="supplierPanNumber" placeholder="Enter Supplier's Pan Number" class="form-control" />
  </div>

  <input type="submit" value="Paid"  class="btn btn-danger btn-block mb-4" />
</form>



<form action="/party/paymentReceived" method="POST" class="bes ab-4">
  <h4 class="text-center bg-success">Payment Recived</h4>
  <div class=" form-group">
    <label for="Buyer">Buyer Name</label>
    <input type="text " name="buyerName" placeholder="Enter Buyer Name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="Amount">Amount</label>
    <input type="text" name="cAmount" placeholder="Enter Amount Received" class="form-control" />
  </div>

  <div class="form-group">
    <label for="buyer">Buyer's Pan No.</label>
    <input type="text" name="buyerPanNumber" placeholder="Enter Buyer's Pan Number" class="form-control" />
  </div>

  <input type="submit" value="Received"  class="btn btn-danger btn-block mb-4" />
</form>