{{>headers}}

<h2 class="text text-center mb-4 ">Profit Graph till {{ accessTime }}</h2>
{{>chart}}

<div class="container mb-5 bg-dark font-weight-bold">
  <h2 class="text-center">Profit Details</h2>
  <div class="card  bg-dark" align="center">
    <div class="card-body"><h4>Capital::1000</h4></div>
    <div class="card-body"><h4>Profit::1000</h4></div>
    <div class="card-body"><h4>Profit Percentage::1000</h4></div>
  </div>
</div>

