{{>headers}}

<img style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  cursor: pointer;" src="{{src1}}" alt="Upload you photo" />
   <h3 class="text-center  font-weight-bold">Details</h3>
<div align="center" class="d-flex my-custom-scrollbar table-wrapper-scroll-y font-weight-bold">
    <table class="table table-borderless table-light mb-5 table-hover " >
  <thead>
  </thead>
  <tbody>
    {{#each stocks as |value key|}}
      {{#each  value as |svalue|}}
      {{#if svalue.Modelno}} <tr><td>Quantity</td><td>{{ svalue.Quantity}} </td> </tr>{{/if}}
      {{#if svalue.Modelno}}<tr><td>Costprice</td><td>{{svalue.Costprice}}  </td> </tr> {{/if}}
      {{#if svalue.Modelno}} <tr><td>Sellingprice</td><td>{{svalue.Sellingprice}} </td> </tr>{{/if}}
      {{/each}}

    {{/each}}
  </tbody>

</table>
</div>

  
            
            
            
            
            
            
         
            


        

