{{>headers}}
<div class=" my-custom-scrollbar table-wrapper-scroll-y">
    <table class="table table-bordered table-hover">
        <caption>Table:List of Suppliers</caption>
        <thead class="thead-dark">
            <tr>
                <th>Index</th>
                <th>Pan Number</th>
                <th>Model No.</th>
                <th>Quantity</th>
                <th>Cost Price</th>
                <th>Total Cost Price</th>
            </tr>
        </thead>

        <tbody id="tableData">

        </tbody>


    </table>
</div>



<form action="/suppliers" method="POST" enctype="multipart/form-data" class=" ab-4">
    <div class=" form-group">
        <label for="Name">suppliers Name</label>
        <input type="text" name="supplierName" placeholder="Enter suppliers Model Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Amount">Amount to be payed</label>
        <input type="text" name="amount" placeholder="Enter amount to be payed" class="form-control" />
    </div>
    <div class=" form-group">
        <label for="contact">Contact Number</label>
        <input type="text" name="contact" placeholder="Enter suppliers contact number" class="form-control" />
    </div>
    <div class="form-group">
        <label for="address"> supplier'sAddress</label>
        <input type="text" name="address" placeholder="Enter supplier's Address" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pannumber">supplier's Pan No.</label>
        <input type="text" name="panNumber" placeholder="Enter supplier's Pan Number" class="form-control" />
    </div>
    <div class="form-group">
        <label for="photo">Upload Client's Image</label>
        <input type="file" name="sphoto" placeholder="Upload Clinet's Photo" class="form-control" />
    </div>
    <input type="submit" value="Add suppliers" class="btn btn-primary btn-block mb-4" />
</form>

<script>
    fetch('/suppliers/getSupplies')
        .then(response => response.json())
        .then(data => {
            let table = document.getElementById('tableData');
            let i = 0;
            console.log(data)

            data.forEach(row => {
                if (row.length > 1) {
                    for (j = 0; j < row.length; j++) {
                        table.innerHTML += `
                        <tr>
                            <td>${i + 1}</td>
                            <td>${row[i].supplierPan}</td>
                            <td>${row[i].Modelno}</td>
                            <td>${row[i].Quantity}</td>
                            <td>${row[i].Costprice}</td>
                             <td>${parseInt(row[i].Costprice) * parseInt(row[i].Quantity)}</td>
                        </tr>    
                    `;
                        i++;
                    }

                } else {
                    table.innerHTML += `
                        <tr>
                            <td>${i + 1}</td>
                            <td>${row[0].supplierPan}</td>
                            <td>${row[0].Modelno}</td>
                            <td>${row[0].Quantity}</td>
                            <td>${row[0].Costprice}</td>
                             <td>${parseInt(row[0].Costprice) * parseInt(row[0].Quantity)}</td>
                        </tr>    
                    `; console.log(1)
                    i++;
                }

            });




        });



</script>